@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}
.phone {
  color: gray;
}
.notes {
color: gray;
}
.name {
  font-size: 18px;
  color: rgb(36, 36, 36);
}
.heading {
margin-bottom: 20px;
margin-left: 20px;
margin-top: 35px;

  font-weight: normal;
  font-size: 25px;
}
.edit {
  margin-top: 10px;
}
#li {
  padding-left: 5px;
}
.company {
  color: rgb(77, 77, 77);
  font-size: 16px;

}
#oddBox {
  background-color: rgb(245, 245, 245);
}
.date {
  color: gray;
}
