@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(251, 251, 251);
  margin: 0;
}

* {
  box-sizing: border-box;
}
.phone {
  color: gray;
}
#evenBox {
  padding: 20px;
}
.notes {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
}
.name {
  font-size: calc(16px + 0.2vw);
  color: rgb(41, 41, 41);
}
.title {
  font-size: calc(16px + 0.2vw);
  color: rgb(41, 41, 41);
}
.heading {
  margin-bottom: 20px;
  margin-top: 35px;
  color: rgb(41, 41, 41);
  font-weight: normal;
  font-size: 25px;
}
.edit {
  margin-top: 10px;
}
#li {
  padding-left: 5px;
}
.company {
  color: rgb(87, 87, 87);
  font-size: calc(16px + 0.1vw);
}
#oddBox {
  background-color: rgb(231, 231, 231);
}
.date {
  color: rgb(75, 75, 75);
  font-size: calc(16px + 0.1vw);
  margin-bottom: 8px;
}

.notes {
  font-size: calc(16px + 0.2vw);
  color: rgb(39, 39, 39);
}
.u {
  overflow: hidden;
}
#in {
  padding-top: 0;
  margin-top: 0;
  padding-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.15);
}
