@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}
.phone {
  color: gray;
}
.notes {
color: gray;
}
.name {
  font-size: 18px;
  color: rgb(36, 36, 36);
}
#li {
  padding-left: 5px;
}
.company {
  color: gray;
  font-size: 16px;
}
#oddBox {
  background-color: rgb(246, 246, 246);
}
